{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Dane użytkowników'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Dane użytkowników'|trans }}</h1>
    {% if userdata is defined and userdata|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'user_email'|trans }}</th>
                <th>{{ 'user_first_name'|trans }}</th>
                <th>{{ 'user_last_name'|trans }}</th>
                <th>{{ 'user_icon'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for userdata in userdata %}
                <tr>
                    <td>{{ userdata.UserEmail }}</td>
                    <td>{{ userdata.UserFirstName }}</td>
                    <td>{{ userdata.UserLastName }}</td>
                    <td>{{ userdata.UserIcon }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}