{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_userdata_details'|trans({'%id%': userdata.UserId|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_userdata_details'|trans({'%id%': userdata.UserId|default('')}) }}</h1>
    {% if userdata is defined and userdata|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'user_email'|trans }}</dt>
            <dd>{{ userdata.UserEmail }}</dd>
            <dt>{{ 'user_first_name'|trans }}</dt>
            <dd>{{ userdata.UserFirstName}}</dd>
            <dt>{{ 'user_last_name'|trans }}</dt>
            <dd>{{ userdata.UserLastName}}</dd>
            <dt>{{ 'user_icon'|trans }}</dt>
            <dd>{{ userdata.UserIcon}}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}