{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Dane komentarze'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Dane komentarze'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'comment_id'|trans,'comment_id')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'comment_content'|trans,'comment_content')}}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.CommentId }}</td>
                    <td>{{ comment.CommentContent }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}