{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Albumy użytkowników'|trans }}
{% endblock %}

{% block body %}
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'album_id'|trans, 'album_id')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'album_name'|trans,'album_name')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'user_id'|trans,'user_id')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'album_time_create'|trans,'album_time_create')}}</th>
            </tr>
            </thead>
            <tbody>
            {% for album in pagination.items %}
                <tr>
                    <td>{{ album.AlbumId }}</td>
                    <td>{{ album.AlbumName }}</td>
                    <td>{{ album.UserId }}</td>
                    <td>{{ album.AlbumTimeCreate|date('Y/m/d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}