{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Dane użytkowników'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Dane użytkowników'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'user_id'|trans,'user_id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'username'|trans,'username')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'user_password'|trans,'user_password')}}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.UserId }}</td>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.UserPassword }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}